# Система контроля версий
.git
.gitignore

# Зависимости и сборки Frontend
node_modules/
frontend/node_modules/
dist/
build/

# Артефакты Go и папки IDE
bin/
.idea/
.vscode/

# Логи и документация
*.log
*.md